extends layout

include mixin/createProject

block contenido
    .contenido-principal
        h1= nombrePagina

        if errores
            each error in errores
                .alerta= error.texto
        +createProject()
 
        